[submodule "search-engine/vendor/spdlog"]
	path = search-engine/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "search-engine/vendor/libstemmer"]
	path = search-engine/vendor/libstemmer
	url = git@github.com:zvelo/libstemmer.git
